<div class="alert remove">  
</div>

<h1>My Todos</h1>

<div class='new-todo'>
  <%= render partial: 'form' %>
</div>

<table class="table">
  <thead>
    <th>Description</th>
    <th>Days Left</th>
    <th>Complete</th>
  </thead>
  <tbody class="js-todos">
    <%= render @todos %> 
  </tbody> 
</table>